body{
    background: cadetblue;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#leerArchivos, form{
    margin-top: 2em;
    margin-left: 2em;
}
input{
    border: 1px;
    border-color: darkcyan;
    background-color: darkgrey;
    text-align: left;
    height: 30px;
    width: 600px;
    
    
}

#form-line{
    display: flex;
    flex-direction: row;
    margin: 50px 50px;
}


button, .btn{
    background: darkblue;
    padding: 2px 2px 2px 2xp;
    color: white;
    width: 230px;
    height: 35px;
    border-radius: 8px;
    
}

form{
    display: flex;
    flex-direction: column;
}

.respuesta{
    margin-left: 2rem;
    vertical-align: center;
}

#estado-line{
    text-align: center;
    margin: 2rem 1rem;
    background-color: blue;
    color: white;
}